[submodule "dotvim/bundle/vim_powerline"]
	path = dotvim/bundle/vim_powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "config/dot-config/alacritty/themes"]
	path = config/dot-config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "tmux/dot-tmux/plugins/tpm"]
	path = tmux/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
