*.swp
*~
*.png
.DS_Store
.netrwhist
*.pyc
tags
tmux/dot-tmux/plugins/*
!tmux/dot-tmux/plugins/.gitkeep
config/dot-config/alacritty/themes/

zsh/dot-zsh/plugins
!zsh/dot-zsh/plugins/.gitkeep

config/dot-config/nvim/lazy-lock.json
