*.swp
*~
*.png
.DS_Store
.netrwhist
*.pyc
sublime_text2_user_settings/Package Control.last-run
sublime_text2_user_settings/RubyTest.last-run
tags
tmux/dot-tmux/plugins/*
!tmux/dot-tmux/plugins/.gitkeep
config/dot-config/alacritty/themes/
